<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JsonInterfaceClientInfo.Properties.Settings.ClientConnectionString"
            connectionString="Data Source=DESKTOP-4UJDV68\TESTSERVER;Initial Catalog=Client2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
        <add key="ApiKey" value="gh4ow9tborkRXIhAoUnQ" />
	    <add key="ApiURL" value="https://api.postit.lt/?address=" />
    </appSettings>
</configuration>